body {
    background-image: url(Images/carte_monde_antique.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 150%;
    font-weight: bold;
}

li {
    margin-left: 170px;
    list-style-type: none;
}